@import '../../../app-variables';

.drawer {

    .drawer-side {
        color: $ice-color;
        background-color: $dark-blue-color;

        .side-title {
            text-align: center;
            vertical-align: center;
            height: 100px;
            font-weight: bold;
        }

        .side-label {
            padding: 10;

            &.selected {
                background-color: $light-blue-color;
            }

            &.centered {
                padding: 10;
                horizontal-align: center;
            }
        }
    }
}